.sticky-title {
    width: 100%;
    color: #2D2D2D;
    background: #F4F4F4;
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    font-style: normal;
    font-family: Open Sans;
    border-radius: 1px;
    padding: 30px 60px;
    position: fixed;
    z-index: 150;
}

@media only screen and (max-width: 515px) {
    .sticky-title {
        font-size: 14px;
        padding: 12.5px 17px;
    }
}

.content {
    padding-top: 100px;
}